target/
!.mvn/wrapper/maven-wrapper.jar

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
mvnw
mvnw.cmd
.mvn

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
pictogram-core/src/main/resources/
pictogram-core/src/test/
pictogram-repository/src/main/resources/
pictogram-repository/src/test/
pictogram-rest/src/main/resources/static/
pictogram-rest/src/test/
pictogram-service/src/main/resources/
pictogram-service/src/test/
pictogram-start/src/main/resources/static/
pictogram-start/src/test/
pictogram-test-start/src/
pictogram-util/src/main/resources/
pictogram-util/src/test/
